@page "/"
@inject NavigationManager NavigationManager


<PageTitle>TURNOS DIGITALES</PageTitle>


<div class="text-center">
    <img width="400" height="400" src="logo.png" class="img-responsive img-rounded img-thumbnail" alt="https://www.google.com/; style="border:none">
</div>

<p>
    <font color="#dc8f35" ; size="20">
        Señor usuario
    </font>
</p>


@*
<br> &nbsp<br/>*@

<p>
    <font size="4" face="arial, sans-serif" color="#2f3687">1.</font> Debe presentarse a la cita con 15 minutos de anticipación con la documentación requerida.
</p>
<p>
    <font size="4" face="arial, sans-serif" color="#2f3687">2.</font> Cuando llegue al punto de atención debe anunciarse con el orientador, indicándole que tiene una cita asignada.
</p>

<p>
    <font size="4" face="arial, sans-serif" color="#2f3687">3.</font> Su cita no puede transferirse a otro cliente. Sólo se gestionará el trámite con la cédula de ciudadanía que fue agendada en la cita.
</p>

<p>
    <font size="4" face="arial, sans-serif" color="#2f3687">4.</font> Su ausencia o llegada tarde implicará tomar una nueva cita o un turno en la oficina.
</p>

<br />







